{{ define "main" }}
	<main>
        <header>
            <!-- Custom styles for this template -->
            <link defer href="/css/bio.css" rel="stylesheet">
        </header>   
		<article>
			<h1>{{ .Title }}</h1>
			<div class="time">{{ dateFormat "Jan 2, 2006" .Date }}</div>
            Página destinada a escrever um pouco da minha biografia profissional.
			<div>
				{{ .Content }}
			</div>
			{{ with .Params.tags }}
			<div>
				<ul class="tags">
					{{ range . }}
					<a class=" text-white" href="{{ "/tags/" | relURL }}{{ . | urlize }}">{{ . }}</a>
					{{ end }}
				</ul>
			</div>
			{{ end }}
		</article>     
	</main>
{{ end }}