<header>
    <div>
      <h1 class="float-md-start justify-content-center "><a class="head-rose" href="/">eualannascimento.com</a></h1>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link text-white" href="/blog">blog</a>
        <a class="nav-link text-white" href="/bio">bio</a>
        <a class="nav-link text-white" href="/certif">certif</a>
        <a class="nav-link text-white" href="/setup">setup</a>
          <a class="nav-link text-white" href="https://github.com/eualannascimento" target="_blank" class="icon icon-github">
              <i class="fab fa-github" style="font-size:24px;"></i>
          </a>
          <a class="nav-link text-white" href="https://www.linkedin.com/in/eualannascimento" target="_blank" class="icon icon-linkedin">
              <i class="fab fa-linkedin" style="font-size:24px; color:#ffffff;"></i>
          </a>
      </nav>
    </div>
</header>
